fastapi==0.95.1
pydantic==1.10.7
uvicorn==0.22.0
uvloop==0.17.0
python-dotenv==1.0.0
SQLAlchemy==2.0.11
SQLAlchemy-Utils==0.41.1
psycopg2-binary==2.9.6
asyncpg==0.27.0
greenlet==2.0.2
databases[postgresql]
alembic==1.10.4
httpx==0.24.0
fastapi-users[sql]==11.0.0
fastapi-users-db-sqlalchemy==5.0.0
aiofiles==23.1.0

pytest==7.3.1
pytest-env==0.8.1
pytest-asyncio==0.21.0
pytest-factoryboy==2.5.1
pytest-mock==3.10.0